<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="footerList">
          <!-- Fix the footer -->
          <!-- Update Site Color Theme -->
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="https://github.com/D45Hub" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="/impressum" class="pure-menu-link">Impressum</a></li>
            <li class="pure-menu-item"><a href="/privacy" class="pure-menu-link">Privacy Notice</a></li>
        </ul>
    </div>
</footer>
