<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="footerList">
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/platforms" class="pure-menu-link">Platforms</a></li>
            <li class="pure-menu-item"><a href="/services" class="pure-menu-link">My Services</a></li>
            <li class="pure-menu-item"><a href="/impressum" class="pure-menu-link">Impressum</a></li>
            <li class="pure-menu-item"><a href="/privacy" class="pure-menu-link">Privacy Notice</a></li>
        </ul>
    </div>
</footer>
