<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <a href="https://denisthiessen.de" id="mainLink"><h1 class="brand-title">Denis' Blog</h1></a>
        <h2 class="brand-tagline">A place for my stories...</h2>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button" href="/archive">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="/platforms">Platforms</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
